.blicki__edit {
	background: $white;
}

.blicki__edit-details {
	background: $gray-light;
	border: 1px solid darken( $gray-light, 10% );
	margin-bottom: 2em;

	input[type=email] {
		background: $white;
	}
	label {
		display: block;
	}
}

.blicki__edit-details-editor {
	margin-bottom: 1em;
}

.blicki__edit-details-field,
.blicki__edit-details-submit {
	padding: 0 1em 1em;

	input[type=text],
	input[type=email] {
		width: 100%;

		@media all and ( max-width: 480px ) {
			width: 100%;
		}
	}
}

.blicki__edit-details-editor,
.blicki__edit-details-submit {
	border-bottom: 1px solid darken( $gray-light, 10% );
}

.blicki__edit-details-submit {
	border-top: 1px solid darken( $gray-light, 10% );
}

.blicki__edit-submit {
	margin: 1em 20px 0 0;
}
